.intro{
  margin-top: 50px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  padding: 90px 0;
  margin-bottom: 40px;
  &_no-shadow-top{
    box-shadow: 0px 0px 50px 0px #00000033;
    margin-top: -119px;
    padding-top: 200px;
    @include media(992){
      margin-top: -119px !important;
    }
  }
  &:first-of-type{
    @include media(992){
      margin-top: 20px;
    }
  }
  &__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(992){
      flex-direction: column;
    }
  }
  &__img{
    width: 40%;
    @include media(992){
      max-width: 100%;
      width: 100%;
    }
  }
  &__content{
    width: 60%;
    @include media(992){
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      width: 100%;
    }
    &_right{
      margin-left: 100px;
      @include media(992){
        margin-left: 0;
      }
    }
    &_left{
      margin-right: 100px;
      @include media(992){
        margin-right: 0;
      }
      &+img{
        @include media(992){
          order: -1;
        }
      }
    }
  }
  &__title{
    font-weight: 800;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.01em;
    margin-bottom: 15px;
    color: #000000;
    @include media(1200){
      font-size: 36px;
      line-height: 120%;
      margin-bottom: 8px;
    }
    @include media($sm){
      text-align: center;
      font-size: 24px;
    }
  }
  &__p{
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 46px;
    display: block;
    @include media(1200){
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 20px;
    }
    @include media(992){
      text-align: center;
    }
    @include media($sm){
      font-size: 18px;
    }
  }
  &__btn{
    padding: 25px 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.48);
    border-radius: 104px;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.02em;
    display: inline-flex;
    color: #FFFFFF;
    transition: 400ms ease;
    @media (hover: hover){
      &:hover{
        box-shadow: none;
      }
    }
    @include media(1200){
      font-size: 18px;
      line-height: 120%;
      padding: 20px 75px;
    }
    &_blue{
      background: #077CC6;
    }
    &_red{
      background: #EA0042;
    }
    &_gray{
      background: #222220;
    }
  }
}