*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  &::selection{
    background-color: #919191;
    color: #fff;
  }
  &:focus,
  &:active{
    outline: none;
  }
}
html{
  height: 100%;
}
body{
  font-family: 'Raleway', sans-serif !important;
  height: 100%;
}
main{
  flex: 1 1 auto;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
img{
  pointer-events: none;
}
.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}
button{
  font-family: inherit;
  cursor: pointer;
}