mixin footer()
  .footer 
    .footer__body.container 
      h2.footer__title Наши контакты
      ul.footer__list 
        li.footer__li 
          a(href="#!").footer__link
            img(src="images/telegram.svg", alt="telegram").footer__img 
        li.footer__li 
          a(href="#!").footer__link
            img(src="images/lzt.svg", alt="lzt").footer__img 
        li.footer__li 
          a(href="#!").footer__link
            img(src="images/gmail.webp", alt="gmail").footer__img 
      p.footer__p Вы продавец?  <a href="#!">Войти или создать аккаунт</a>