mixin intro()
  .intro 
    .intro__body.container 
      img(src="images/img-1.webp", alt="img").intro__img
      .intro__content.intro__content_right 
        h2.intro__title NORD VPN
        p.intro__p Поставщик услуг виртуальной частной сети. Он предоставляет настольные приложения для Windows, macOS и Linux, мобильные приложения для Android и iOS, а также приложение для AndroidTV. Также доступна ручная настройка беспроводных маршрутизаторов, устройств NAS и других платформ.
        a(href="#!").intro__btn.intro__btn_blue КУПИТЬ 

mixin intro2()
  .intro 
    .intro__body.container 
      .intro__content.intro__content_left
        h2.intro__title IVI
        p.intro__p ivi - крупнейший легальный онлайн-кинотеатр в России. Мобильное приложение ivi – это простой и удобный доступ к мировой коллекции лучших фильмов, популярным сериалам и целой вселенной мультфильмов.
        a(href="#!").intro__btn.intro__btn_red КУПИТЬ 
      img(src="images/img-2.webp", alt="img").intro__img

mixin intro3()
  .intro 
    .intro__body.container 
      img(src="images/img-3.webp", alt="img").intro__img
      .intro__content.intro__content_right 
        h2.intro__title more.tv
        p.intro__p Смотреть сериалы, фильмы, телепередачи и мультфильмы. В онлайн-сервисе more.tv все видео доступны в хорошем качестве hd бесплатно и по подписке.
        a(href="#!").intro__btn.intro__btn_gray КУПИТЬ 