mixin products()
  .products   
    .products__body.container
      .products__item 
        .products__item-image
          img(src="images/img-4.webp", alt="nord vpn").products__item-img
        .products__item-content 
          h3.products__item-title NORD VPN
      .products__item 
        .products__item-image
          img(src="images/img-5.webp", alt="nord vpn").products__item-img
        .products__item-content 
          h3.products__item-title IVI
      .products__item 
        .products__item-image
          img(src="images/img-6.webp", alt="nord vpn").products__item-img
        .products__item-content 
          h3.products__item-title more.tv