mixin slider()
  .slider   
    .slider__inner.slider_1.container
      .slider__item
        img(src="images/img-7.webp", alt="avatar").slider__img
        p.slider__p Купил и хакнул пентагон спасибо копы не могу найти мя
      .slider__item
        img(src="images/img-7.webp", alt="avatar").slider__img
        p.slider__p Купил и хакнул пентагон спасибо копы не могу найти мя
      .slider__item
        img(src="images/img-7.webp", alt="avatar").slider__img
        p.slider__p Купил и хакнул пентагон спасибо копы не могу найти мя
      .slider__item
        img(src="images/img-7.webp", alt="avatar").slider__img
        p.slider__p Купил и хакнул пентагон спасибо копы не могу найти мя
      .slider__item
        img(src="images/img-7.webp", alt="avatar").slider__img
        p.slider__p Купил и хакнул пентагон спасибо копы не могу найти мя
      .slider__item
        img(src="images/img-7.webp", alt="avatar").slider__img
        p.slider__p Купил и хакнул пентагон спасибо копы не могу найти мя