doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="FRONEL WEBSITE")
    title Purchases | FRONEL
    link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles/index.css")
  body 
    .wrapper
      include components/header.pug 
      +header
      main.main 
        include components/intro.pug 
        +intro1-2
        .article 
          .article__body.container 
            .article__item 
              .article__item-top 
                img(src="images/logo-light.webp", alt="").article__item-img
              .article__item-content 
                p.article__item-title NordVPN Premium с подпиской до 2022 года
                p.article__item-price 50 рублей <span>за 1 аккаунт</span>
                a(href="#purchase").article__item-btn Купить 
                p.article__item-abs 22 шт
            .article__item 
              .article__item-top 
                p.article__item-top__p Сообщение от продавца: Аккаунт IVI с <br>автоопределением. По истечению срока <br>подписки - она продлевается заново!
                p.article__item-top__abs Сообщение от продавца
              .article__item-content 
                p.article__item-title NordVPN Premium с подпиской до 2022 года
                a(href="#purchase").article__item-btn Купить 
                p.article__item-abs 20₽
            .article__item 
              .article__item-top 
                p.article__item-top__p Сообщение от продавца: Аккаунт IVI с <br>автоопределением. По истечению срока <br>подписки - она продлевается заново!
                p.article__item-top__abs Сообщение от продавца
              .article__item-content 
                p.article__item-title NordVPN Premium с подпиской до 2022 года
                a(href="#purchase").article__item-btn Купить 
                p.article__item-abs 20₽
            .article__item 
              .article__item-top 
                p.article__item-top__p Сообщение от продавца: Аккаунт IVI с <br>автоопределением. По истечению срока <br>подписки - она продлевается заново!
                p.article__item-top__abs Сообщение от продавца
              .article__item-content 
                p.article__item-title NordVPN Premium с подпиской до 2022 года
                a(href="#purchase").article__item-btn Купить 
                p.article__item-abs 20₽
            .article__item 
              .article__item-top 
                p.article__item-top__p Сообщение от продавца: Аккаунт IVI с <br>автоопределением. По истечению срока <br>подписки - она продлевается заново!
                p.article__item-top__abs Сообщение от продавца
              .article__item-content 
                p.article__item-title NordVPN Premium с подпиской до 2022 года
                a(href="#purchase").article__item-btn Купить 
                p.article__item-abs 20₽
            .article__item 
              .article__item-top 
                p.article__item-top__p Сообщение от продавца: Аккаунт IVI с <br>автоопределением. По истечению срока <br>подписки - она продлевается заново!
                p.article__item-top__abs Сообщение от продавца
              .article__item-content 
                p.article__item-title NordVPN Premium с подпиской до 2022 года
                a(href="#purchase").article__item-btn Купить 
                p.article__item-abs 20₽
          button.article__down
            img(src="images/arrow-down.svg", alt="down arrow").article__down-img
      include components/footer.pug 
      +footer

      #purchase.popup 
        .popup__body 
          p.popup__title Аккаунт IVI до 11.09.2021 (Закончится через 2 недели)
          form(action="#!").popup__form
            label(for="email").popup__form-label Email: 
            input(type="email" id="email" placeholder="Ваш email").popup__form-input 
            p.popup__form-label Cпособ оплаты:
            .dropdown
              button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false") QIWI WALLET, Банковские карты 
              ul(class="dropdown-menu" aria-labelledby="dropdownMenuButton1")
                li.dropdown-item QIWI WALLET, Банковские карты 
                li.dropdown-item QIWI WALLET, Банковские карты 
                li.dropdown-item QIWI WALLET, Банковские карты 
            p.popup__p Все аккаунты проверяются на валидность перед выдачей. <br>Наши письма могут попасть в папку спам 
            .popup__btns 
              a(href="#!").popup__close.popup__btn Закрыть
              button(type="submit").popup__submit.popup__btn Купить
    include components/register.pug 
    +register 

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js") 
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js") 
    script(src="scripts/index.js") 