doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="FRONEL WEBSITE")
    title Purchases | FRONEL
    link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="styles/index.css")
  body 
    .wrapper
      include components/header.pug 
      +header
      main.main 
        .purchases 
          .purchases__body.container
            h2.purchases__title Ваши покупки
            .purchases__item 
              img(src="images/logo.webp", alt="logo").purchases__item-img
              p.purchases__item-title NordVPN Premium с подпиской до 2022 года
              p.purchases__item-mail gabegetowa@gmail.com:daewe021931
              p.purchases__item-price 700
              p.purchases__item-date 25.05.2007
            .purchases__item 
              img(src="images/logo.webp", alt="logo").purchases__item-img
              p.purchases__item-title NordVPN Premium с подпиской до 2022 года
              p.purchases__item-mail gabegetowa@gmail.com:daewe021931
              p.purchases__item-price 700
              p.purchases__item-date 25.05.2007
            .purchases__item 
              img(src="images/logo.webp", alt="logo").purchases__item-img
              p.purchases__item-title NordVPN Premium с подпиской до 2022 года
              p.purchases__item-mail gabegetowa@gmail.com:daewe021931
              p.purchases__item-price 700
              p.purchases__item-date 25.05.2007
            .purchases__item 
              img(src="images/logo.webp", alt="logo").purchases__item-img
              p.purchases__item-title NordVPN Premium с подпиской до 2022 года
              p.purchases__item-mail gabegetowa@gmail.com:daewe021931
              p.purchases__item-price 700
              p.purchases__item-date 25.05.2007
            .purchases__item 
              img(src="images/logo.webp", alt="logo").purchases__item-img
              p.purchases__item-title NordVPN Premium с подпиской до 2022 года
              p.purchases__item-mail gabegetowa@gmail.com:daewe021931
              p.purchases__item-price 700
              p.purchases__item-date 25.05.2007
            button.purchases__down-i 
              img(src="images/arrow-down.svg", alt="").purchases__down-i-img
      include components/footer.pug 
      +footer
    include components/register.pug 
    +register 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js") 
    script(src="scripts/index.js") 